html, body, #canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: lightgray;
    user-select: none;
}

#navBar {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

#iterationSelect {
    position: absolute;
    margin-top: 200px;
    left: 40%;
}

#state {
    display: inline-block;
    font-size: 40px;
}

#controls {
    bottom: 0;
    position: fixed;
    width:100%;
    height:60px;
    margin-bottom: 80px;
    text-align: center;
}

#settings {
    margin-top: 30px;
}

#instructions {
    position: absolute;
    right: 16px;
    top: 16px;
}

.navBtn {
    margin-top: 10px;
    background-color: DarkSalmon;
}
.navBtn:hover {
    background-color: LightSalmon;
    color: black;
}

.iterationBtn {
    background-color: PaleGoldenrod;
}

.iterationBtn:hover {
    background-color: LightGoldenrodYellow;
}

.playPause {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 25px 0 25px 50px;
    border-color: transparent transparent transparent steelblue;
    transition: all 100ms ease-in-out;
    margin: 0 15px -15px 20px;
    display: inline-block;
}

.playPause:hover {
    border-color: transparent transparent transparent white;
}

.pause {
    border-style: double;
    border-width:0 0 0 50px;
}

.previousNext {
    background-color: steelblue;
    border-color: transparent transparent transparent steelblue;
    display: inline-block;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 30px;
}

.previousNext:hover {
    background-color: white;
    color: black;
    border-color: transparent transparent transparent white;
}

button {
    height: 50px;
    width: 200px;
}
